:host {
  border-radius: 5px;
  box-shadow: 0 0 8px #ccc;
  color: #000;
  display: block;
  height: 260px;
  width: 200px;
}

#header {
}

#body {
}

.chart {
  background-color: #00426a;
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 100%;
  position: relative;
}

.chart core-icon {
  display: none;
  position: absolute;
  right: 0;
  top: 4px;
  z-index: 2;
}

#line_chart {
  position: relative;
  z-index: 1;
}

.label {
  color: #bbb;
  white-space: nowrap;
}

#metrics {
  display: table;
  height: 40%;
  width: 100%;
}
