:host {
  border-radius: 5px;
  box-shadow: 0 0 8px #ccc;
  color: #000;
  display: block;
  font-family: Helvetica, Verdana;
  height: 260px;
  perspective: 1000;
  transition: 0.6s;
  transform-style: preserve-3d;
  width: 200px;
}

:host(.transposed) {
  transform: rotateY(180deg);
}

#front, #back {
  backface-visibility: hidden;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

#front {
  transform: rotateY(0deg);
  z-index: 2;
}

#back {
  background-color: #eeeeee;
  padding: 4px;
  transform: rotateY(180deg);
}

#header {
}

#body {
  position: relative;
}

.chart {
  background-color: #00426a;
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 100%;
  position: relative;
}

.chart core-icon {
  display: none;
  position: absolute;
  right: 0;
  top: 4px;
  z-index: 2;
}

#line_chart {
  position: relative;
  z-index: 1;
}

#action {
  border: 0;
  bottom: -20px;
  display: none;
  position: absolute;
  right: 10px;
  z-index: 2;
}

.label {
  color: #bbb;
  white-space: nowrap;
}

#metrics {
  background-color: #eeeeee;
  bottom: 0;
  display: table;
  height: 40%;
  left: 0;
  position: absolute;
  right: 0;
  width: 100%;
}
