:host {
  border-radius: 2px;
  color: #000;
  display: block;
  font-family: 'Roboto', sans-serif;
  background: #fff;
  min-height: 200px;
}

:host(.transposed) {
  transform: rotateY(180deg);
}

.container {
  perspective: 1000;
  transition: 0.6s;
  transform-style: preserve-3d;
}

paper-fab {
  position: absolute;
  right: 10px;
  bottom: 110px;
  z-index: 2;
}

/* #front, #back { */
/*   backface-visibility: hidden; */
/*   bottom: 0; */
/*   left: 0; */
/*   position: absolute; */
/*   right: 0; */
/*   top: 0; */
/*  */
/*   border-radius: 2px; */
/* } */

/* #front { */
/*   transform: rotateY(0deg); */
/*   z-index: 2; */
/* } */

#back {
  background-color: #eeeeee;
  padding: 4px;
  transform: rotateY(180deg);
}


.chart {
  background: #0089E3; /* darker blue */
  color: #fff;
  height: 125px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.chart core-icon {
  display: none;
  position: absolute;
  right: 0;
  top: 4px;
  z-index: 2;
}

#line_chart {
  /* position: relative; */
  z-index: 1;
}

.label {
  color: #bbb;
  white-space: nowrap;
}

.metrics {
  background-color: #eeeeee;
}

.metrics-container {
  margin: 0 5px;
}

.metrics-container ::content tcg-comparison-widget-metric {
  -ms-flex: 1 1 0.000000001px;
  -webkit-flex: 1;
  flex: 1;
  -webkit-flex-basis: 0.000000001px;
  flex-basis: 0.000000001px;
}
